@inject IProductService ProductService;


<h3>ProductList</h3>

@if (ProductService.Products == null || ProductService.Products.Count == 0)
{
    <span>Loading...........</span>
}
else
{


    <div class="listContainer">

        @foreach (var item in ProductService.Products)
        {

            <div class="card  p-3 bg-white m-3 w-350">
                 <div class=image-container>
                    <img src="@item.ImageUrl" alt="@item.Title">
                 </div>
                 <div class="text">
                    <h4 class="word-wrap">@item.Title</h4>
                 </div>
                <a class="button-9" href="/product/@item.Id">
                    View Product
                </a>
            </div>


        }
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();

    }

}
